.header{
    margin:20px;
    text-align: center;
}

table, th, td{
    text-align: center;
}
/* table{
    margin: auto !important;
    margin-left: 100px;
} */

.longUrl{
    word-break: break-word;
}
#fullUrl{
    width:50%;
}
.footer {
    position: relative;
    bottom: 0;
    line-height: 25px;
    background-color: #f5f5f5;
    text-align: center;
    padding: 20px 0;
    margin: 25px 0;
}